node_modules/
client/node_modules/

client/build/
dist/
out/

# Version control
.git/
.gitignore

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
*.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*~