
.course-analytics{
    display: flex;
    flex-direction: column;
    ;
}

.course-analytics .tables-containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.course-analytics .table{
    width:100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.course-analytics h2{
    margin:2rem;
}


