
.course-analytics{
    display: flex;
    flex-direction: column;
    
}

.course-analytics .tables-containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.course-analytics .table{
    width:100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.course-analytics .all-analytics{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .uploader-info, .file-info{
        background-color: #77a1ff;
        color: white;
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 2rem;
    }

    .course-analytics h3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .course-analytics .overview {
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
    .course-analytics .activeness{
        width:30px;
    }

    .course-analytics .main-title{
        display: flex;
        align-items: center;
    }

    .course-analytics .overview .overview-columns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .course-analytics .overview .overview-columns .overview-titles{
        color: lightgray;
    }

    .course-analytics .overview .overview-columns .overview-data{
        font-size: 23px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .course-analytics .title{
        font-size: 22px;
    }

    .uploader-info {
        display: flex;
        flex-direction: row;
    }

    .uploader-info .image-container{
        display: flex;
        align-items: center;
    }

    .uploader-info .image-container img{
        width: 100%;
    }

    .uploader-info .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
        justify-content: space-around;
    }

    .course-analytics h2{
        margin:2rem;
    }

    .top5users, .top5files{
        width:80%;
        padding: 2rem;
    }

    .top5users .no-uploads{
        font-size: 20px;
    }



    .top5files .rating-all{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


